header {
	background-color: #add8e6 ; 
    color: #FFFFFF; 
	text-align: center;
	
}	

header a { text-decoration: none; }

h1 { margin-bottom: 0; 
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif; 
	letter-spacing: 0.2em;
    padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}

#homeCampus {
		height: 300px;
		width:550px;
        background-image: url(court.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
		
}

#homeLeague {
		height: 300px;
		width:550px;
        background-image: url(carousel1.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
}


nav{
	float:left;
	width:250px;
	font-family:Georgia, Times New Roman, serif; 
	font-weight:bold;
	
}

main{
	margin-left: 260px; 
}



nav ul { 
	   list-style-type: none;
       margin: 0;
	   padding-left: 0;
	   font-size: 1em; 
	   text-decoration:none;
}


.button {
	
	text-transform: uppercase;
	outline: 0;
	background: orange;
	width:100%;
	border:none;
	padding:15px;
	color: #fff;
	font-size:14px;
	cursor: pointer;	
	transition: 0.5s;
	
}

#wrapper {  
        background-color: #90C7E3;
		background-image: linear-gradient(#FFFFFF, #90C7E3);
        background-repeat: no-repeat;
}

nav a { text-decoration: none; }
nav a:link { color: #add8e6 }
nav a:hover { color: blue }

#contact { font-size: .85em; }

footer { font-size: 75%;
       font-style: italic;
	   text-align: center;
	   font-family: Georgia, "Times New Roman", serif; 
	   padding: 2em;
	   background-color: #FFF;
}

form {
	display: grid;
	flex-flow: column nowrap;
	width: 60%;
	grid-gap: 1em;
	grid-template-rows:auto;
	grid-template-columns: 6em 1fr;
}

input, textarea {
	margin-bottom: .5em;
}

input[type="submit"] {
	grid-column: 2 / 3 ;
	width:9em;
}

#forumcampus {
		height: 300px;
		width:550px;
        background-image: url(forumpic.png);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
		margin-left:auto;
		margin-right:auto;
}


ul li a {
	text-decoration: none;
	font-size: 1.2em;
	
}

#forum li {
	list-style-type: none;
	text-align: center;
	padding:0;
	margin:0;
}

#AgentLeague {
		height: 300px;
		width:550px;
        background-image: url(freeagentpic.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
		margin-left:auto;
		margin-right:auto;
}

/*#home ul li {
	
	font-size: 1.1em;
	list-style-position: inside;
	line-height:150%;
	vertical-align: middle;
	columns:2;
	width:50%;
	
	
}*/

#campusfaq video {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#vacl {
		height: 300px;
		width:550px;
        background-image: url(teamlogo.png);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
		margin-left:auto;
		margin-right:auto;
}

#homejoin {
	height: 300px;
		width:550px;
        background-image: url(vacljoin.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding:10px;
		margin:10px;
		margin-left:auto;
		margin-right:auto;
}

@media (max-width: 600px) {
	
	nav ul  { display: block;  }	
	nav li  { border-bottom: none; text-align:center; }
	h2 { display:block; text-align:left; }
	footer { display:block;} 	
	form { display:block; width:60%; }
	#AgentLeague{ background:none;}
	#homeCampus { background:none;}
	#forumcampus { background:none;}
	#homeLeague {background:none;}
	#vacl {background:none;}
	#contact{ text-align:left; margin-left:auto; margin-right:auto;}
	#home{text-align:left; margin-left:auto; margin-right:auto;}
	#campusfaq video{display:none; }
	
}
.imgdescwrap {
  
  height: 200px;
  width: 257px;
}
.descitem {
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255,165,0);
  color: #000000;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.imgdescwrap:hover .descitem {
  visibility: visible;
  opacity: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 2 4px;
}

.imgitem{
	margin-top: 8px;
	vertical-align: middle;
  
}

