*{
	margin:0;
	padding:0;
	
} 

body
{
	background-image: url(logoEX.jpg);
	background-size: cover;
	background-position: absolute;
	background-repeat: no-repeat;
	background-color: #000000;
	font-family: serif;
	
}

.login-page {
	
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
	
	
}

.form {
	
	position: relative;
	z-index:1;
	background: #0000;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	
}

.form input {
	
	outline:none;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	
	text-transform: uppercase;
	outline: 0;
	background: orange;
	width:100%;
	border:none;
	padding:15px;
	color: #fff;
	font-size:14px;
	cursor: pointer;	
	transition: 0.5s;
	
}

.form button:hover,.form button:active
{
	background: red;
	border: none;
}

.form .message 
{
	margin: 15px 0 0;
	color: #fff;
	font-size: 12px;
	
}

.form .message a 
{
	color:orange;
	text-decoration: none;
}

.register-form
{
	display:none;
}



